
  .card {
    position: relative;
    display: grid;
    min-height: 400px;
    width: min(90vw, 26rem);
    margin: 1.5rem auto;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: #1d1d1d;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: justify;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    overflow: visible;
  }
  @media (min-width: 48em) {
    .card {
      width: 22rem;
      margin: 1.5rem;
    }
  }
  .rgb::after {
    content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px); /*or z-index */
    animation: rgb 6s linear infinite;
  }
  @keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  .js-tilt-glare {
    border-radius: 18px;
  }
  .card-image {
    grid-area: image;
    width: 100%;
    height: clamp(200px, 45vw, 240px);
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }
  @media (min-width: 48em) {
    .card-image {
      height: 180px;
    }
  }
  
  .card-text {
    grid-area: text;
    margin: 1.2rem;
    margin-top: .5rem;
    text-align: left;
    transform: translateZ(30px);
  }

